<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@172.25.108.59:1521:orcl</value>
		</property>
		<property name="username">
			<value>scott</value>
		</property>
		<property name="password">
			<value>tiger</value>
		</property>
	</bean>
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="mappingResources">
			<list>
				<value>/MasterApp.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="DataSource"/>
		</property>
	</bean>

	    <bean id ="Product" class="com.hex.service.ProductImpl">
       <property name ="productDao">
       <ref bean ="ProductDao"/>
       </property>
   </bean>


	    <bean id ="ProductDao" class="com.hex.dao.ProductDaoImpl">
       <property name ="sessionFactory">
       <ref bean ="mySessionFactory"/>
       </property>
    </bean>


</beans>
